{{define "title"}} <title>Login</title>{{end}} {{define "body"}}
<title hx-swap-oob="outerHTML:title">Login</title>
{{block "navbar" .}}
<div>Error</div>
{{end}}
<div class="flex flex-col justify-center items-center">
    <form
        id="form"
        class="w-full max-w-xs"
        hx-post="/api/login"
        hx-target-error="#error"
        hx-swap="innerHTML"
        hx-on::after-request="if (event.detail.successful) this.reset()"
    >
        <h1 class="text-4xl font-bold text-center">Login</h1>
        <label class="w-full max-w-xs">
            <div class="label">
                <span class="label-text">Username</span>
            </div>
            <input
                type="text"
                placeholder="Username"
                name="username"
                class="input input-bordered input-primary w-full max-w-xs"
            />
        </label>
        <label class="w-full max-w-xs">
            <div class="label">
                <span class="label-text">Password</span>
            </div>
            <input
                type="password"
                placeholder="Password"
                name="password"
                class="input input-bordered input-primary w-full max-w-xs"
                id="password"
            />
        </label>
        <label class="label cursor-pointer">
            <span class="label-text">Show Password</span>
            <input
                type="checkbox"
                class="checkbox checkbox-primary"
                id="togglePassword"
            />
        </label>
        <button
            class="btn btn-primary w-full max-w-xs mt-3"
            type="submit"
            id="submit-button"
        >
            Log In
        </button>
        <button
            class="btn btn-primary w-full max-w-xs mt-3"
            hx-trigger="click"
            hx-get="/register"
            hx-target="#app"
            hx-swap="innerHTML"
            hx-push-url="true"
        >
            Register
        </button>
    </form>
    <div id="error"></div>
</div>
<script src="./js/togglePassword.js"></script>
<script>
    document
        .getElementById("form")
        .addEventListener("htmx:configRequest", (event) => {
            event.detail.withCredentials = true;
        });
</script>
{{end}}
